APP_ENV=development
PORT=8080
FRONTEND_URL=https://schoolpay.example.com

DB_USER=schoolpay
DB_PASS=change_this_database_password
DB_NAME=schoolpay
DB_HOST=db
DB_PORT=3306

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASS=

JWT_SECRET=change_this_to_a_long_random_secret

SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_EMAIL=no-reply@example.com
SMTP_PASS=change_this_smtp_password

WAHA_API_KEY=change_this_waha_api_key
WAHA_DASHBOARD_USERNAME=admin
WAHA_DASHBOARD_PASSWORD=change_this_waha_dashboard_password
WAHA_WEBHOOK_SECRET=change_this_long_random_webhook_secret
WAHA_URL=http://waha:3000
WHATSAPP_HOOK_URL=http://app:8080/wa-webhook
WHATSAPP_HOOK_EVENTS=session.status,message,message.ack


MIDTRANS_SERVER_KEY=change_this_midtrans_server_key
MIDTRANS_CLIENT_KEY=change_this_midtrans_client_key
MIDTRANS_IS_SANDBOX=false
